body{
  font-family:Verdana;
}
#titulo{
  background-image: linear-gradient(to bottom, #5fb379, #65b985, #6bbf91, #72c59c, #7acba7, #78ccac, #75ceb0, #73cfb5, #64ccb5, #52cab6, #3dc7b7, #18c4b9);
  padding:15px;
  font-family: 'Love Ya Like A Sister', cursive;
  color: white;
}
h1{
  text-align: center;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 60px;
}
#corpo{
  overflow:auto;
}

* {
  box-sizing: border-box;
}
.main {
  float: left;
  width: 80%;
  padding: 0 20px;
  overflow: hidden;
}
.avatar_container {
  background-color: #4CA697;
  float: left;
  width: 20%;
  padding: 10px 15px;
  margin-top: 7px;
  font-family: 'Satisfy', cursive;
  font-size: 20px;
}
#meu_avatar{
  margin-top: 10px;
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%; 
}
#rodape{
  background-color:#84B09F;
  text-align:center;
  padding:10px;
  margin-top:7px;
  font-size:12px;
}

@media only screen and (max-width:800px) {
  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }
  .avatar_container {
    width: 100%;
  }
  ul > li.sub ul {
    width: 17em;
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    background: #12AA6F;
    position: absolute;
    display: none;  
    margin-top:7%;
  }
  #sust {
    margin-left: 30%;
    margin-right: 30%;
}
ul > li.sub ul li a:hover {
  background: #76CBAA;
}
ul > li.sub:hover ul {
  display: inherit;
}
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .menu, .main, .avatar_container {
    width: 100%;
  }
  #nav li a {
    float: none;
    display: block;
  }
  ul > li.sub ul {
    width: 17em;
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    background: #12AA6F;
    position: absolute;
    display: none;  
    margin-top: 11%;
  }
  #bv{
    width: 100%
  }
}

@media screen and (max-width: 500px) {
  #nav li a {
    float: none;
    display: block;
  }
  ul > li.sub ul {
    width: 17em;
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    background: #12AA6F;
    position: absolute;
    display: none;  
    margin-top: 11%;
  }
}

#sust{
  height: 340px;
  margin-left: 0%;
  margin-right: 7%;
  float: left;  
  margin-bottom: 5px;
  border: 3px dashed white;  
}
#obj{
  float: right; 
  margin-right: 2%; 
  margin-left: 8%; 
  margin-bottom: 5px;
  height: 340px;
  border: 3px dashed white;
}
.imagem:hover{/* Inserindo drop-shadows com CSS3*/
-webkit-box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
-moz-box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
}
.imagem2:hover{/* Inserindo drop-shadows com CSS3*/
-webkit-box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
-moz-box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
box-shadow: 2px 4px 38px 0px rgba(71,163,163,1);
}

#if{
   border-radius: 50%;
}
.main>h2:hover{
  color:#65AEA2;
}
#meu_avatar:hover{
-webkit-box-shadow: 2px -2px 66px 9px rgba(0,0,0,0.75);
-moz-box-shadow: 2px -2px 66px 9px rgba(0,0,0,0.75);
box-shadow: 2px -2px 66px 9px rgba(0,0,0,0.75);
}
.imagem {
    margin: 66px;
    overflow: hidden;
    float: left;
    position: relative;
}
.imagem > a {
    text-decoration: none;
    float: left;
}
.imagem > a:hover {
    cursor: pointer;
    display: inherit;
} 
.imagem > a > img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 
.imagem > a > .desc{
  display: none;
}
.imagem > a:hover .desc{
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    background: #333;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    color: #fff;
    position: absolute;
    bottom: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
    width: 90%;
    border-top: 1px solid #999;
    display: inherit;
}
.imagem > a > img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 
.imagem a:hover .desc strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.0em;
}
.imagem2 {
    margin: 66px;
    overflow: hidden;
    float: left;
    position: relative;
}
.imagem2 > a {
    text-decoration: none;
    float: left;
}
.imagem2 > a:hover {
    cursor: pointer;
    display: inherit;
} 
.imagem2 > a > img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 
.imagem2 > a > .desc_2{
  display: none;
}
.imagem2 > a:hover .desc_2{
    display: block;
    font-size: 1.2em;
    padding: 10px 0;
    background: #333;
    filter:alpha(opacity=75);
    opacity:.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)"; /*--IE 8 Transparency--*/
    color: #fff;
    position: absolute;
    bottom: 11px;
    left: 11px;
    padding: 10px;
    margin: 0;
    width: 90%;
    border-top: 1px solid #999;
    display: inherit;
}
.imagem2 > a > img {
    float: left;
    margin: 0;
    border: none;
    padding: 10px;
    background: #fff;
    border: 1px solid #ddd;
} 
.imagem2 a:hover .desc_2 strong {
    display: block;
    margin-bottom: 5px;
    font-size:1.0em;
}
#bv{
    width: 43%
  }
#eco_titulo{
  width: 45%;
}

.menu{
    border:none;
    border:0px;
    margin:0px;
    padding:0px;
    font: 67.5% "Lucida Sans Unicode", "Bitstream Vera Sans", "Trebuchet Unicode MS", "Lucida Grande", Verdana, Helvetica, sans-serif;
    font-size:18px;
    font-weight:bold;
}
.menu ul{
    background:#555;
    height:35px;
    list-style:none;
    margin:0;
    padding:0;
}
.menu li{
    float:left;
    padding:0px;
}
.menu li a{
    background:#555;
    color:#ffffff;
    display:block;
    font-weight:normal;
    line-height:35px;
    margin:0px;
    padding:0px 25px;
    text-align:center;
    text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a{
  background: #111;
  color:white;
  text-decoration:none;
}
.menu li ul{
    background:#006633;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
}
.menu li:hover ul{
    display:block;
}
.menu li li {
    background:#333;
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:225px;
}
.menu li:hover li a{
    background:none;
}
.menu li ul a{
    display:block;
    height:30px;
    font-size:12px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a{
    background:#111;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}
.menu p{
    clear:left;
}
@media screen and (max-width: 630px) {
  .menu ul {
    background: #555;
    height: 70px;
    list-style: none;
    margin: 0;
    padding: 0;
  }